<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="./js/app.js"></script>
    <meta charset="utf-8">
    <title>gitHub Search</title>
  </head>
  <body>
    <div class="container1">
      <form class="container2">
        <h1>GitHub API</h1>
        <input id="search" type="text" name="githubinfo" placeholder="Enter a User Name">
        <input id="button" type="submit" value="submit"><br><br>
        <img id="profilePic"></img><br>
        <div id="profileName"></div>
        <div id="repos"></div>
        <div id="followers"></div>

      </form>
    </div>
  </body>
</html>
